<app-header></app-header>
<div class="container">
    <h4>Add An item</h4>
    <div class="wrap-for-input-buttons">
        <div>
            <form>
                <input type="text" name="message">
            </form>
        </div>
        <div>
            <button type="button" class="save-btn">SAVE</button>
            <!-- <button type="button" class="update-btn display-none">UPDATE</button> -->
        </div>
        <div>
            <button type="button" class="сlean-up">Сlean up</button>
        </div>
    </div>
    <ul>
        <app-task></app-task>
    </ul>
</div>