<app-header></app-header>
<div class="container">
    <h4>Add An item</h4>
    <div class="wrap-for-input-buttons">
        <div>
            <form>
                <input type="text" name="message" #input [(ngModel)]="newTask.task">
            </form>
        </div>
        <div>
            <button type="button" class="save-btn" (click)="saveTask()">SAVE</button>
            <!-- <button type="button" class="update-btn display-none">UPDATE</button> -->
        </div>
        <div>
            <button type="button" class="сlean-up">Сlean up</button>
        </div>
    </div>
    <div #list *ngFor="let item of taskList">
        <app-task [item]="item"></app-task>
    </div>
</div>